A validação se deu pela divulgação de um vídeo (https://youtube.com/shorts/Uro68qLk9TY) no Reddit (https://www.reddit.com/r/Voluntarios/).
Esse método visava dar uma visibilidade mais ampla para o projeto e coletar feedbacks mais variados. Entretanto, era necessário uma maior 
quantidade de tempo com o projeto concluído para que os objetivos da validação fossem alcançados.A limitação da equipe em relação a quantidade de membros 
(somente 1 membro na equipe) e tempo (o primeira etapa foi concluída com outro professor e com outros requisitos, logo não teve protótipo para apresentar 
com antecedência) não permitiu que houvesse uma avaliação do público-alvo antes da conclusão do projeto definitivo.
